.header {
  width: 100%;
  height: 100px;
  color: rgb(197, 226, 226);
  background: linear-gradient(90deg, #00d69f, #1e1173);
  border-radius: 0 0 15px 15px;
}

.header__wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__button {
  color: rgb(197, 226, 226);
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  &:hover {
    color: #edf8f6;
    cursor: pointer;
  }
}

.header__user-menu {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.header__caption {
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    color: #edf8f6;
  }
}
