.header {
  width: 100%;
  min-height: 100px;
  // color: rgb(197, 226, 226);
  background: linear-gradient(90deg, #00d6a0af, #1e1173af);
  border-radius: 0 0 15px 15px;
}

.header__wrapper {
  width: 100%;
  max-width: $main-Wrapper-width;
  height: 100%;
  margin: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__button {
  min-width: 90px;
  margin: 3px 0 3px 20px;
  text-align: center;
  color: inherit;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
  &:hover {
    color: #edf8f6;
    scale: 1.2;
    color: #6aff00;
    cursor: pointer;
  }
}
.header__button--active {
  color: #6aff00;
  scale: 1.2;
}
.header__user-menu {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.header__button {
  text-decoration: none;
}

.header__caption {
  transition: all 0.3s;
  margin: 0;
  &:hover {
    cursor: pointer;
    color: #edf8f6;
  }
}

.header__hide-element {
  display: none;
}

#basket-btn {
  position: relative;
}

.header__button-count {
  position: absolute;
  top: 0;
  right: 12px;
  color: #6aff00;
}
