@font-face {
  font-family: "Rob";
  src: url("../assets/fonts/IrishGrover-Regular.ttf");
}

* {
  font-family: Rob, sans-serif;
  box-sizing: border-box;
  font-weight: normal;
  letter-spacing: 2px;
}

html {
  font-size: 20px;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #fafae5;
  min-width: 320px;
  background: center/cover, rgba(0, 0, 0, 0.5);
  // background-blend-mode: multiply;
  background-image: url("../assets/images/background.png");
}

h1,
h2 {
  text-shadow: 0 0 10px black;
}

a {
  text-shadow: 0 0 10px black;
}

input {
  font-size: inherit;
  color: inherit;
  background: inherit;
  box-shadow: 0 0 10px rgb(0 0 0);
  &::placeholder {
    color: #d8fdf680;
  }
}

select {
  background: inherit;
  color: inherit;
  font-size: inherit;
  box-shadow: 0 0 10px rgb(0 0 0);
}

button {
  font-size: inherit;
  box-shadow: 0 0 10px rgb(0 0 0);
  transition: box-shadow .2s;
  &:active {
    box-shadow: none;
  }

}