.section-basic {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section-address {
    display: flex;
    justify-content: space-between;
    width: 50%;

}
.section-basic__billing,
.section-basic__shopping {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.input-reg-email,
.input-reg-password,
.input-reg-first-name,
.input-reg-last-name,
.input-shipping-country,
.input-shipping-city,
.input-shipping-street,
.input-shipping-postcode,
.input-billing-country,
.input-billing-city,
.input-billing-street,
.input-billing-postcode,
.input-reg-date
{
    margin: 0 0 20px 0;
    padding: 0 10px;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: #d8fdf6;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    height: 30px;

}

.btn-register {
   background: #1d41b5;
   color: beige;
   border: none;
   border-radius: 3px;
   width: 176px;
   height: 25px;
   cursor: pointer;
   padding: 0;
}

.input-reg-date {
    width: 176px;
}

.label-checkbox {
    font-size: 12px;
}

.billing__wrapper-checkbox,
.shipping__wrapper-checkbox {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
}