.error {
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 200px);
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: center / contain no-repeat url("../../assets/images/404.png");
}

.error__anchor-to-main {
  color: #1d41b5;
  font-size: 1.5em;
  font-weight: bold;
  transition: all 0.3s;
  &:hover {
    color: #571db5;
  }
}
