p {
  margin: 0;
}
.catalog {
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 200px);
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__select-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.catalog__filter-wrapper,
.catalog__sort-wrapper {
  display: flex;
}
.catalog__filter-select,
.catalog__sort-select {
  margin: 0 0 20px;
  background: #0f0bee83;
  cursor: pointer;
}
.catalog__filter-title,
.catalog__sort-title{
  color: #0603b983;
  font-weight: 700;
  margin: 0 10px 0 0;
}
.catalog__products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.catalog__card {
  width: 280px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: #00000036;
  // border: solid 3px rgb(197 226 226 / 77%);
  box-shadow: 0 0 10px black;
  padding: 5px;
  justify-content: space-between;
  transition: all 0.1s;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px black;
    scale: 1.05;
    background: #77777736;
  }
  &:active {
    box-shadow: 0 0 10px black;
    scale: 1.03;
  }
}

.catalog__card-title {
  text-align: center;
}
.catalog__card-img {
  width: 150px;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.catalog__card-subtitle {
  text-align: center;
}

.catalog__card-first-price,
.catalog__card-second-price,
.catalog__card-third-price {
  margin: 0;
}

.catalog__card--discount {
  color: #6aff00;
  text-shadow: 0 0 10px #000000;
  & strike {
    color: #fafae5;
    text-shadow: none;
  }
}

.catalog__price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
