
.detail {
  width: 100%;
  max-width: $main-Wrapper-width;
  min-height: $empty-height;
  margin: auto;
  padding: $main-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail__to-catalog {
  margin: 25px;
}

.detail__wrapper {
  width: 100%;
  display: flex;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2117647059);
  box-shadow: 0 0 10px black;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.detail__img-button-wrapper {
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  transition: max-width .3s;
}

.detail__image-slider {
  display: flex;
  max-width: inherit;
  width: inherit;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.detail__right-slider,
.detail__left-slider,
.detail__close-modal {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
  margin: 5px;
  min-width: auto;
  transition: opacity 0.3s;
  z-index: 1;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  opacity: 0.6;
}

.detail__right-slider {
  background-image: url("../../assets/icons/slider-next.svg");
}

.detail__left-slider {
  background-image: url("../../assets/icons/slider-prev.svg");
}
.detail__close-modal {
  display: none;
  background-image: url("../../assets/icons/modal-close.svg");
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  margin-top: 190px;
  margin-bottom: 0;

}

.detail__image-wrapper {
  max-width: inherit;
  width: inherit;
  aspect-ratio: 1;
  &:hover {
    cursor: pointer;
  }
}

.detail__image-one,
.detail__image-two,
.detail__image-three {
  max-width: inherit;
  width: inherit;
  aspect-ratio: 1;
  background-size: contain;
  z-index: 1;
}

.detail__description {
  max-width: 50%;
  // margin: 15px;
}

.detail__price {
  margin: 0;
  text-shadow: 0 0 10px #000000;
}

.detail__price--discount {
  color: #6aff00;
  text-shadow: 0 0 10px #000000;
  & strike {
    color: #fafae5;
    text-shadow: none;
  }
}

.detail__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.7);
}
.detail__first-price-wrapper,
.detail__second-price-wrapper,
.detail__third-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.detail__to-basket-button {
    display: none;
}
.detail__to-basket-button {
    background-image: url('../../assets/icons/basket.svg');
    min-width: 30px;
    height: 30px;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
}
.detail__first-basket {
    display: block;
}
.detail__to-basket-button:hover {
    background-color: #6aff0085;
}
.detail__to-basket-button:disabled {
    background-color: rgb(91, 91, 91);
    box-shadow: 0 0 10px #000000;
}
@media screen and (max-width: 750px) {
  .detail__wrapper {
    flex-direction: column;
    // justify-content: flex-start;
  }
  .detail__description {
    max-width: 100%;
  }
}


@media screen and (max-width: 570px) {
  .detail__close-modal {
    margin: 0;
  }
}
